color_red = #fa8169
color_red_light = #9ad26e
.layoutPage
  .demoRow
    text-align: center
    height 1rem
    line-height: 1rem
    color #fff
    margin: 10px 0
  .color1
    background-color: color_red
  .color2
    background-color: color_red_light

rems = {
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
    '7': 7rem,
    '8': 8rem,
    '9': 9rem
}
for key, value in rems
  .tW{key}R
    width value
