@require '../../../node_modules/tingle-style/src/var'

body
  background #f2f2f2

.tTabBody
  margin-top -2px

.about-item
  height 66px
  .pic
    width 40px
    height 40px
    border-radius 50%
  .info
    padding-left 10px

.project-tingle
  .tGroup_ListItem
    line-height 44px
